body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.col-sm {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  
}

.col-sm img {
  height: 100%;
  width: 100%;
  border-radius: 28px;
  border: 2px solid;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: red;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  background-color: black;
}

button:focus {
  outline: black;
}


.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}


.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300%;
}

.header a:hover {
  background-color: red;
  color: white;
}


.header-right {
  float: right;
}

@media only screen and (max-width: 575px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

}


footer {
  padding-top: 4 px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}